<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anjay App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item fill="outline">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="form.email" [ngModelOptions]="{standalone : true}" placeholder="Your email" type="email"></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="form.password" [ngModelOptions]="{standalone : true}" placeholder="Your password" type="password"></ion-input>
    </ion-item>
    <ion-button (click)="doLogin()" expand="block" color="light">Process</ion-button>
  </div>
</ion-content>
